USE [master]
GO
/****** Object:  Database [BANQUITO]    Script Date: 30/1/2025 12:20:09 ******/
CREATE DATABASE [BANQUITO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANQUITO', FILENAME = N'/var/opt/mssql/data/BANQUITO.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BANQUITO_log', FILENAME = N'/var/opt/mssql/data/BANQUITO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANQUITO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANQUITO]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 30/1/2025 12:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[COD_CLIENTE] [int] NOT NULL,
	[CEDULA] [varchar](100) NULL,
	[NOMBRE] [varchar](100) NULL,
	[GENERO] [varchar](1) NULL,
	[FECHA_NACIMIENTO] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credenciales]    Script Date: 30/1/2025 12:20:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credenciales](
	[usuario] [varchar](30) NOT NULL,
	[contrasena] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CREDITO]    Script Date: 30/1/2025 12:20:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREDITO](
	[ID_CREDITO] [int] NOT NULL,
	[COD_CLIENTE] [int] NULL,
	[ESTADO] [varchar](2) NULL,
	[CUOTAS] [int] NULL,
	[VALOR_PRESTAMO] [decimal](10, 2) NULL,
	[TASA_ANUAL] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 30/1/2025 12:20:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[NUM_CUENTA] [varchar](8) NOT NULL,
	[COD_CLIENTE] [int] NULL,
	[SALDO] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUOTA]    Script Date: 30/1/2025 12:20:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUOTA](
	[N_CUOTA] [int] NOT NULL,
	[ID_CREDITO] [int] NULL,
	[VALOR_CUOTA] [decimal](10, 2) NULL,
	[INTERES_PAGADO] [decimal](10, 2) NULL,
	[CAPITAL_PAGADO] [decimal](10, 2) NULL,
	[SALDO] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_FACTURA]    Script Date: 30/1/2025 12:20:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_FACTURA](
	[COD_TEL] [int] NOT NULL,
	[ID_FACTURA] [int] NOT NULL,
	[CANTIDAD] [int] NULL,
	[PRECIO_UNITARIO] [decimal](10, 2) NULL,
	[SUBTOTAL] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 30/1/2025 12:20:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[ID_FACTURA] [int] NOT NULL,
	[COD_CLIENTE] [int] NULL,
	[FECHA] [datetime] NULL,
	[TOTAL] [decimal](10, 2) NULL,
	[FORMA_PAGO] [varchar](2) NULL,
	[DESCUENTO] [int] NULL,
	[CANTIDAD] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO]    Script Date: 30/1/2025 12:20:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO](
	[COD_MOVIMIENTO] [int] NOT NULL,
	[NUM_CUENTA] [varchar](8) NULL,
	[TIPO] [varchar](3) NULL,
	[VALOR] [decimal](10, 2) NULL,
	[FECHA] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONO]    Script Date: 30/1/2025 12:20:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO](
	[COD_TEL] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[PRECIO] [decimal](10, 2) NULL,
	[FOTO] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CLIENTE] ([COD_CLIENTE], [CEDULA], [NOMBRE], [GENERO], [FECHA_NACIMIENTO]) VALUES (1, N'0102030405', N'Juan Pérez', N'M', CAST(N'1995-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[CLIENTE] ([COD_CLIENTE], [CEDULA], [NOMBRE], [GENERO], [FECHA_NACIMIENTO]) VALUES (2, N'0203040506', N'Ana López', N'F', CAST(N'1988-09-15T00:00:00.000' AS DateTime))
INSERT [dbo].[CLIENTE] ([COD_CLIENTE], [CEDULA], [NOMBRE], [GENERO], [FECHA_NACIMIENTO]) VALUES (3, N'0304050607', N'Carlos Gómez', N'M', CAST(N'1990-01-10T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Credenciales] ([usuario], [contrasena]) VALUES (N'MONSTER', N'6C3F6757E773775FD059E2F025BD14BA')
GO
INSERT [dbo].[CREDITO] ([ID_CREDITO], [COD_CLIENTE], [ESTADO], [CUOTAS], [VALOR_PRESTAMO], [TASA_ANUAL]) VALUES (1, 5, N'A', 5, CAST(50.00 AS Decimal(10, 2)), CAST(16.50 AS Decimal(10, 2)))
GO
INSERT [dbo].[CUENTA] ([NUM_CUENTA], [COD_CLIENTE], [SALDO]) VALUES (N'10000001', 1, CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[CUENTA] ([NUM_CUENTA], [COD_CLIENTE], [SALDO]) VALUES (N'10000002', 2, CAST(2300.50 AS Decimal(10, 2)))
INSERT [dbo].[CUENTA] ([NUM_CUENTA], [COD_CLIENTE], [SALDO]) VALUES (N'10000003', 3, CAST(500.75 AS Decimal(10, 2)))
GO
INSERT [dbo].[CUOTA] ([N_CUOTA], [ID_CREDITO], [VALOR_CUOTA], [INTERES_PAGADO], [CAPITAL_PAGADO], [SALDO]) VALUES (1, 1, CAST(10.42 AS Decimal(10, 2)), CAST(0.69 AS Decimal(10, 2)), CAST(9.73 AS Decimal(10, 2)), CAST(40.27 AS Decimal(10, 2)))
INSERT [dbo].[CUOTA] ([N_CUOTA], [ID_CREDITO], [VALOR_CUOTA], [INTERES_PAGADO], [CAPITAL_PAGADO], [SALDO]) VALUES (2, 1, CAST(10.42 AS Decimal(10, 2)), CAST(0.55 AS Decimal(10, 2)), CAST(9.86 AS Decimal(10, 2)), CAST(30.41 AS Decimal(10, 2)))
INSERT [dbo].[CUOTA] ([N_CUOTA], [ID_CREDITO], [VALOR_CUOTA], [INTERES_PAGADO], [CAPITAL_PAGADO], [SALDO]) VALUES (3, 1, CAST(10.42 AS Decimal(10, 2)), CAST(0.42 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(20.41 AS Decimal(10, 2)))
GO
INSERT [dbo].[FACTURA] ([ID_FACTURA], [COD_CLIENTE], [FECHA], [TOTAL], [FORMA_PAGO], [DESCUENTO], [CANTIDAD]) VALUES (1, 5, CAST(N'2025-01-30T12:08:22.837' AS DateTime), CAST(50.00 AS Decimal(10, 2)), N'CR', 0, 1)
INSERT [dbo].[FACTURA] ([ID_FACTURA], [COD_CLIENTE], [FECHA], [TOTAL], [FORMA_PAGO], [DESCUENTO], [CANTIDAD]) VALUES (2, 5, CAST(N'2025-01-30T12:08:33.303' AS DateTime), CAST(116.00 AS Decimal(10, 2)), N'EF', 42, 3)
GO
INSERT [dbo].[MOVIMIENTO] ([COD_MOVIMIENTO], [NUM_CUENTA], [TIPO], [VALOR], [FECHA]) VALUES (1, N'10000001', N'DEP', CAST(500.00 AS Decimal(10, 2)), CAST(N'2024-12-01T00:00:00.000' AS DateTime))
INSERT [dbo].[MOVIMIENTO] ([COD_MOVIMIENTO], [NUM_CUENTA], [TIPO], [VALOR], [FECHA]) VALUES (2, N'10000001', N'RET', CAST(200.00 AS Decimal(10, 2)), CAST(N'2024-11-05T00:00:00.000' AS DateTime))
INSERT [dbo].[MOVIMIENTO] ([COD_MOVIMIENTO], [NUM_CUENTA], [TIPO], [VALOR], [FECHA]) VALUES (3, N'10000001', N'DEP', CAST(300.00 AS Decimal(10, 2)), CAST(N'2024-11-10T00:00:00.000' AS DateTime))
GO
/****** Object:  Index [PK_CLIENTE]    Script Date: 30/1/2025 12:20:18 ******/
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [PK_CLIENTE] PRIMARY KEY NONCLUSTERED 
(
	[COD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CREDITO]    Script Date: 30/1/2025 12:20:18 ******/
ALTER TABLE [dbo].[CREDITO] ADD  CONSTRAINT [PK_CREDITO] PRIMARY KEY NONCLUSTERED 
(
	[ID_CREDITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [REALIZA_FK]    Script Date: 30/1/2025 12:20:18 ******/
CREATE NONCLUSTERED INDEX [REALIZA_FK] ON [dbo].[CREDITO]
(
	[COD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_CUENTA]    Script Date: 30/1/2025 12:20:18 ******/
ALTER TABLE [dbo].[CUENTA] ADD  CONSTRAINT [PK_CUENTA] PRIMARY KEY NONCLUSTERED 
(
	[NUM_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [POSEE_FK]    Script Date: 30/1/2025 12:20:18 ******/
CREATE NONCLUSTERED INDEX [POSEE_FK] ON [dbo].[CUENTA]
(
	[COD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CUOTA]    Script Date: 30/1/2025 12:20:18 ******/
ALTER TABLE [dbo].[CUOTA] ADD  CONSTRAINT [PK_CUOTA] PRIMARY KEY NONCLUSTERED 
(
	[N_CUOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CONTIENE3_FK]    Script Date: 30/1/2025 12:20:18 ******/
CREATE NONCLUSTERED INDEX [CONTIENE3_FK] ON [dbo].[CUOTA]
(
	[ID_CREDITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_DETALLE_FACTURA]    Script Date: 30/1/2025 12:20:18 ******/
ALTER TABLE [dbo].[DETALLE_FACTURA] ADD  CONSTRAINT [PK_DETALLE_FACTURA] PRIMARY KEY NONCLUSTERED 
(
	[COD_TEL] ASC,
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CONTIENE_FK]    Script Date: 30/1/2025 12:20:18 ******/
CREATE NONCLUSTERED INDEX [CONTIENE_FK] ON [dbo].[DETALLE_FACTURA]
(
	[COD_TEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CONTIENE2_FK]    Script Date: 30/1/2025 12:20:18 ******/
CREATE NONCLUSTERED INDEX [CONTIENE2_FK] ON [dbo].[DETALLE_FACTURA]
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_FACTURA]    Script Date: 30/1/2025 12:20:18 ******/
ALTER TABLE [dbo].[FACTURA] ADD  CONSTRAINT [PK_FACTURA] PRIMARY KEY NONCLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [SOLICITA_FK]    Script Date: 30/1/2025 12:20:18 ******/
CREATE NONCLUSTERED INDEX [SOLICITA_FK] ON [dbo].[FACTURA]
(
	[COD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_MOVIMIENTO]    Script Date: 30/1/2025 12:20:18 ******/
ALTER TABLE [dbo].[MOVIMIENTO] ADD  CONSTRAINT [PK_MOVIMIENTO] PRIMARY KEY NONCLUSTERED 
(
	[COD_MOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TIENE_FK]    Script Date: 30/1/2025 12:20:18 ******/
CREATE NONCLUSTERED INDEX [TIENE_FK] ON [dbo].[MOVIMIENTO]
(
	[NUM_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_TELEFONO]    Script Date: 30/1/2025 12:20:18 ******/
ALTER TABLE [dbo].[TELEFONO] ADD  CONSTRAINT [PK_TELEFONO] PRIMARY KEY NONCLUSTERED 
(
	[COD_TEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACTURA] ADD  DEFAULT ((1)) FOR [CANTIDAD]
GO
ALTER TABLE [dbo].[CREDITO]  WITH CHECK ADD  CONSTRAINT [FK_CREDITO_REALIZA_CLIENTE] FOREIGN KEY([COD_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([COD_CLIENTE])
GO
ALTER TABLE [dbo].[CREDITO] CHECK CONSTRAINT [FK_CREDITO_REALIZA_CLIENTE]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_CUENTA_POSEE_CLIENTE] FOREIGN KEY([COD_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([COD_CLIENTE])
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [FK_CUENTA_POSEE_CLIENTE]
GO
ALTER TABLE [dbo].[CUOTA]  WITH CHECK ADD  CONSTRAINT [FK_CUOTA_CONTIENE3_CREDITO] FOREIGN KEY([ID_CREDITO])
REFERENCES [dbo].[CREDITO] ([ID_CREDITO])
GO
ALTER TABLE [dbo].[CUOTA] CHECK CONSTRAINT [FK_CUOTA_CONTIENE3_CREDITO]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE__CONTIENE_TELEFONO] FOREIGN KEY([COD_TEL])
REFERENCES [dbo].[TELEFONO] ([COD_TEL])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE__CONTIENE_TELEFONO]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE__CONTIENE2_FACTURA] FOREIGN KEY([ID_FACTURA])
REFERENCES [dbo].[FACTURA] ([ID_FACTURA])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE__CONTIENE2_FACTURA]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_SOLICITA_CLIENTE] FOREIGN KEY([COD_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([COD_CLIENTE])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_SOLICITA_CLIENTE]
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIEN_TIENE_CUENTA] FOREIGN KEY([NUM_CUENTA])
REFERENCES [dbo].[CUENTA] ([NUM_CUENTA])
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [FK_MOVIMIEN_TIENE_CUENTA]
GO
USE [master]
GO
